:root {
  --card-aspect: 0.718;
  --card-radius: 10px;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);
}

.card {
  background-color: #fff;
  border: 1px solid var(--card-edge);
  border-radius: var(--card-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 24rem; /* Increased card width */
  margin: 0.5rem; /* Gap between cards */
  transition: transform 0.2s; /* Smooth hover effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem; /* Reduced card minimum height */
}

.card:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

.cardHeader {
  padding: 1rem; /* Increased padding for header */
  background-color: #f0f0f0;
  text-align: center;
  position: relative; /* Ensure relative positioning */
  display: flex; /* Use flexbox for aligning content */
  align-items: flex-start; /* Align items to the start (top) */
  justify-content: center; /* Center horizontally */
  flex: 0 0 auto; /* Prevent header from growing */
  min-height: 10rem; /* Adjusted height for the header */
}

.cardTitle {
  margin-top: 0.5rem;
  font-size: 1.25rem; /* Reduced font size */
  color: #333;
  font-weight: normal; /* Title text not bold */
  text-align: center; /* Center align the title */
}

.cardBody {
  padding: 1rem;
  flex: 1; /* Allow the card body to grow and fill space */
}

.cardText {
  font-size: 0.875rem; /* Reduced font size */
  color: #666;
  line-height: 1.2; /* Adjusted line height */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
  max-height: calc(
    1.2 * 4
  ); /* Fallback for browsers that don't support -webkit-line-clamp */
  line-clamp: 4;
}

.cardDetails {
  margin-top: 0.5rem;
}

.detail {
  margin-bottom: 0.25rem;
  font-size: 0.875rem; /* Reduced font size */
  font-weight: normal; /* Details text not bold */
}

.detail strong {
  font-weight: bold;
  margin-right: 0.25rem;
}

.detail span {
  color: #888;
  font-style: italic;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.deleteButton {
  background-color: #f0f0f0;
  width: 5rem;
  color: #000000;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.875rem;
}

.deleteButton:hover {
  background-color: #dddbdb;
}

.cardLink {
  text-decoration: none;
  color: #888;
  font-style: italic;
  font-size: 0.875rem;
}

.cardLink:hover {
  text-decoration: none;
  color: #555;
  font-size: 0.895rem;
}
