/* BirdDetails.module.css */

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  border: 1px solid var(--card-edge); /* Use custom variable for border color */
  border-radius: var(--card-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: auto; /* Adjusted to content width */
  max-width: 35rem; /* Maximum width */
  height: auto; /* Adjusted to content height */
  max-height: 25rem; /* Maximum height */
  margin: 3rem; /* Adjusted margin for positioning */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  padding: 1rem;
  background-color: rgba(209, 207, 207, 0.35); /* Semi-transparent white */
  border-radius: var(--card-radius); /* Match card radius */
  margin: -1rem -1rem 0 -1rem; /* Adjust margin to remove space between background and outer border */
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items evenly with space between them */
  position: relative; /* To position the sound button inside the card header */
}

.cardTitle {
  margin-top: 0;
  font-size: 2rem;
  color: #333;
}

.soundButton {
  margin-left: auto; /* Push the button to the right */
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.7rem;
  padding: 0.4rem 0.5rem;
  width: 4rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.soundButton:hover {
  background-color: rgba(183, 180, 180, 0.616);
}
.soundButton.active {
  color: white;
  background-color: rgba(248, 185, 75, 0.643);
  border-color: #f8ba4b;
}

.cardBody {
  flex: 1;
  padding: 1rem;
  overflow-y: auto; /* Enable vertical scrolling */
}

.cardText {
  font-size: 0.875rem;
  color: #666;
  line-height: 1.2;
  overflow: hidden; /* Hide overflow beyond the card's boundaries */
  text-overflow: ellipsis; /* Ellipsis for text that overflows horizontally */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: calc(1.2 * 4);
  margin-bottom: 1rem; /* Add some bottom margin for separation */
}

.cardDetails {
  margin-top: 0.5rem;
}

.detail {
  margin-bottom: 0.5rem; /* Increase margin between details */
  font-size: 0.875rem;
  font-weight: normal;
}

.detail strong {
  font-weight: bold;
  margin-right: 0.5rem;
}

.detail span {
  color: #888;
  font-style: italic;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* Push buttons to the bottom */
}

.cardLink {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  transition: font-size 0.2s;
  padding: 0.5rem 1rem; /* Add padding for clickable area */
  border: 1px solid var(--card-edge); /* Match border color */
  border-radius: var(--card-radius); /* Match card radius */
}

.cardLink:hover {
  font-size: 1.1rem;
}
