:root {
  --card-aspect: 0.718;
  --card-radius: 10px;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);
}
.card {
  background-color: #fff;
  border: 1px solid var(--card-edge);
  border-radius: var(--card-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 24rem;
  margin: 0.5rem;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
}
.card:hover {
  transform: scale(1.02);
}
.cardHeader {
  padding: 1rem;
  background-color: #F0F0F0;
  text-align: center;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 0 0 auto;
  min-height: 12rem;
}
.cardTitle {
  margin: 0.5rem 0 0.25rem; /* Reduced margin between header and headline */
  font-size: 1.25rem;
  color: #333;
  font-weight: normal;
  text-align: center;
}
.favoriteButton {
  background: none;
  border: none;
  color: #000000; /* Initial yellow color */
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0.8rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #F8BA4B; /* Initial yellow background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}
.favoriteButton:hover {
  color: #890F42; /* Light pink color on hover */
  background-color: rgba(
    255,
    144,
    161,
    0.902
  ); /* Light pink background on hover */
}
.favoriteActive {
  color: #FD0B58;
  background-color: rgba(255, 144, 161, 0.902);
}
.cardBody {
  padding: 1rem;
  flex: 1;
}
.cardText {
  margin-top: 0rem; /* Reduced margin between english name and description */
  margin-bottom: 0.5rem; /* Further reduced margin between headline and description */
  font-size: 0.875rem;
  color: #666;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: calc(1.2 * 4);
  line-clamp: 4;
}
.cardDetails {
  margin-top: 0.5rem;
}
.detail {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: normal;
}
.detail strong {
  font-weight: bold;
  margin-right: 0.25rem;
}
.detail span {
  color: #888;
  font-style: italic;
}
.cardButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.deleteButton {
  background-color: #F0F0F0;
  width: 5rem;
  color: #000000;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.875rem;
}
.deleteButton:hover {
  background-color: #DDDBDB;
}
.cardLink {
  text-decoration: none;
  color: #888;
  font-style: italic;
  font-size: 0.875rem;
}
.cardLink:hover {
  text-decoration: none;
  color: #555;
  font-size: 0.895rem;
}






