/* CountryBirds.module.css */

.countryBirdsPage {
  padding: 2rem;
  margin: 3rem 3rem; /* Larger margin at the top, left, and right */
  text-align: left; /* Adjust text alignment if necessary */
}

.countryBirdsPage h2 {
  font-size: 2rem; /* Adjust heading size if necessary */
  color: #333; /* Example color */
}

.countryBirdsPage p {
  line-height: 1.6; /* Adjust line height if necessary */
  margin-bottom: 1rem; /* Adjust margin bottom for paragraphs */
}

.backButton {
  margin-top: 1rem; /* Space from paragraph */
  text-align: center; /* Center-align button */
}

.backLink {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 40px; /* Match the border radius of the search bar */
  background-color: #ffee00;
  color: black;
  font-size: 1rem;
  text-decoration: none; /* Remove underline */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backLink:hover {
  background-color: #f8ba4b;
}
