.detailsPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  position: relative;
}

.detailsPageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top; /* Align background image to the top */
  z-index: -1; /* Ensure it's behind other content */
}

.detailsPageContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative; /* Ensure positioning context */
}

.backButton {
  position: absolute;
  bottom: 4.5rem; /* Adjust distance from bottom */
  right: 4.9rem; /* Adjust distance from right */
  text-align: center;
}

.backLink {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px; /* Match the border radius of the search bar */
  background-color: #ffee00;
  color: black;
  font-size: 1.2rem;
  text-decoration: none; /* Remove underline */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backLink:hover {
  background-color: #f8ba4b;
}
