.details-page {
  position: relative; /* Ensure positioning context */
  display: flex;
  align-items: flex-start; /* Align content to the top */
  height: 100vh; /* Full viewport height */
  padding: 2rem; /* Add padding to the whole page */
}

.details-page-background {
  width: 50%; /* Adjust as needed */
  height: 100%;
  overflow: hidden;
  position: relative; /* Use relative positioning */
}

.details-page-background img {
  position: absolute; /* Position the image absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-page-content {
  flex: 1; /* Take remaining space */
  margin-left: 2rem; /* Adjust margin as needed */
}

.favorite-button {
  position: absolute;
  top: 1rem; /* Adjust distance from top */
  right: 1rem; /* Adjust distance from right */
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other content */
}

.favorite-icon {
  width: 30px; /* Adjust heart icon size */
}
