.mainPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem; /* Add margin-top for spacing */
}

.cardLink {
  text-decoration: none;
}

.mainPage > * {
  flex: 0 1 calc(25% - 1rem); /* Adjust the width of each card */
  margin: 0.5rem; /* Adjust margin between cards */
}

.mainPage h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem; /* Add margin bottom for spacing */
}

.mainPage p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.mainPage ul {
  list-style-type: disc;
  margin-left: 0.1rem;
}

.mainPage li {
  margin-bottom: 0.5rem;
}

.mainPage a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.mainPage a:hover {
  color: #000000;
  background-color: transparent; /* Remove background color */
}

.mainPage .smallText {
  font-size: 0.8rem;
  color: #666;
}

.mainPage .addBirdButton {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  width: 10%;
  padding: 1rem;
  border: none;
  border-radius: 40px;
  background-color: #ffee00;
  text-align: center;
  font-weight: normal;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mainPage .addBirdButton:hover {
  background-color: #ffcc00;
  font-weight: normal;
}
