/* Adjust the mapPage to take full height minus navbar and footer */
.mapPage {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
}

/* Ensure mapContainer takes remaining height */
.mapContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eceff1; /* Set your desired background color */
  overflow: hidden; /* Ensure map stays within container */
}

/* Add specific height and width to the map */
.map {
  width: 100%;
  height: 100%;
}

/* Styles for geography links */
.geographyLink {
  text-decoration: none;
  cursor: pointer;
}
