.mapPage {
  padding: 2rem;
  margin: 3rem;
  text-align: center;
}

.mapContainer {
  /* Styles for the map container */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #eceff1; /* Set your desired background color */
  border-radius: 8px; /* Example border radius */
  overflow: hidden; /* Ensure map stays within container */
}

.geographyLink {
  /* Styles for geography links */
  text-decoration: none;
  cursor: pointer;
}

.mapContainer svg {
  width: 100%;
  height: auto; /* Adjust as needed; SVGs typically need explicit height */
}

.mapPage h1 {
  font-size: 2rem;
  color: #333;
}
