.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease;
  z-index: 1000;
  width: 100%;
}

.navbar.show {
  background-color: white;
}

.logo img {
  height: 50px;
}

.navLinks {
  list-style-type: none;
  display: flex;
}

.navLinks li {
  margin: 0 10px;
}

.navLinks a {
  text-decoration: none;
  color: black;
}
